.btn {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 16px;
    position: relative;
    width: fit-content;
    max-width: 100%;
    padding: 14px 28px;
    color: #FFFFFF;
    background-color: $purple-color;
    transition: scale 0.3s;
    overflow: hidden;
    font-family: Outfit,sans-serif;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s;
    &:hover {
        box-shadow: 3px 3px 20px $purple-color;
    }    
    }
.close-btn {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
    border: 0;
    background: 0;
    padding: 0;
}
.btn-modal {
    background-color: #B9B9B9;
}
.btn-decline {
    border: 2px solid $purple-color;
    background-color: #fff;
    color: #000;
}